body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

a {
  display: inline-block;
}

h3 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  margin-bottom: 16px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

.text-center {
  text-align: center;
}

.text-ellipsis {
  width: 30%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
